<nav class="bottom-nav-container">
  <a 
    class="nav-button" 
    routerLink="/portfolio" 
    routerLinkActive="active">
    <span class="material-icons">wallet</span>
    <span class="label">Carteira</span>
  </a>

  <a 
    class="nav-button" 
    routerLink="/add-stock" 
    routerLinkActive="active">
    <span class="material-icons">add_circle</span>
    <span class="label">Cadastrar</span>
  </a>

  <a 
    class="nav-button" 
    routerLink="/profitability" 
    routerLinkActive="active">
    <span class="material-icons">trending_up</span>
    <span class="label">Rentabilidade</span>
  </a>

  <a 
    class="nav-button" 
    routerLink="/history" 
    routerLinkActive="active">
    <span class="material-icons">receipt_long</span>
    <span class="label">Histórico</span>
  </a>
</nav>